{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "config": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 100 }],
    "react/no-array-index-key": ["off"],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"]
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-shadow": ["error", { "allow": ["_"] }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "lines-between-class-members": ["error", "always"]
  }
}
